& when (@media-common = true) {
   
    .centered{
      margin:20px auto;
      display: block;
      text-align: center;
    }

    .cms-page-view{

        .cms-intro-wrap{
             background: @color-grey;
             padding-bottom: 50px;
             border-bottom: solid 1px @color-btn-grey;
             margin-bottom:40px;

             .cms-intro{
                width: 100%;
                max-width: 770px;
                margin:0 auto;
                text-align: center;

                p{
                    font-size: @font-size__base;
                }
             }

             .page-title{
                font-size: @font-size__cms-title;
                text-align: center;
                display: block;
             }

        }

        .col-group{
            margin-top: 30px;
            margin-bottom: 30px;
        }

         a.link-button{
                border-radius: 5px;
                padding:15px 60px;
                margin-top:30px;
            
        }

        .blue-section{
            background: @color-blue;
            text-align: center;

            div[class*="col-dt-"]{
                padding:0;
            }

            h2, h3 ,p{
                color: @color-white;
            }

            img{
                display: block;
            }

            a.link-button{
                border: solid 1px @color-white;
            }
        }

        .centered{
            text-align: center;
        }

        .centered-section{
            width:60%;
            margin:0 auto;
            padding:50px 0;
            vertical-align: middle;
            text-align: center;
        }

        .column.main{

            p{
                margin-bottom:20px;
                font-size: @font-size__base;
                line-height: 20px;
            }
        }

    }

    

    .cms-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        background: @color-grey;

        ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        a, strong {
            display: block;
            padding: 15px;
            color: @primary__color;
        
            &:hover{
                background: @color-btn-grey;
                text-decoration: none;
            }
        }

        .parent{

            > a{
                background: @color-blue;
                padding: 20px 12px;
                color: @color-white;
                &:extend(.title);
                font-size: @font-size__xl;
            }
            
        }
    }
}
//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .cms-page-view{
        .cms-intro-wrap{
            margin-left: -20px;
            margin-right: -20px;
            margin-bottom: 0;
            padding-bottom: 0;
            background: none;
            border:0;
        }

        .cms-intro{
            .page-title{
                font-size: @font-size__cms-mob-title;
                border-bottom: solid 1px @color-btn-grey;
                display: inline-block;
                padding:0 10% 15px 10%;
            }

            p{
                display: none;
            }
        }

        .main{
            text-align: center;

            h2{
                font-size: @h2__font-size-mobile;
            }

            .col-group{
                padding: 0;
                margin: 0 0 60px 0;
            }

            .blue-section{
                margin-left: -20px;
                margin-right: -20px;
            }

            .centered-section{
                width: 90%;
                margin: 0 auto;
                padding: 30px 0;
            }

            hr{
                width: 80%;
                background: @color-btn-grey;
                border:0;
                height: 1px;
                margin:20px auto;
            }
        }

    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
 

}

/*---------------------------------------------
Test CMS Pages
-----------------------------------------------*/


// TEMP - Do not reference these classes unless added above | Will be deleted

.mhl {
  
  .bshadow0, input {
    box-shadow: inset 0 -2px #e7e7e7;
  }
  fieldset { border: none; }
  input:hover {
    box-shadow: inset 0 -2px #ccc;
  }
  input, fieldset {
    font-family: sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    border: 0;
  }
  input {
    color: inherit;
    line-height: 1.5;
    height: 1.5em;
    padding: .25em 0;
  }
  input:focus {
    outline: none;
    box-shadow: inset 0 -2px #449fdb;
  }
  .glyph {
    font-size: 16px;
    width: 15em;
    padding-bottom: 1em;
    margin: 0 20px;
    margin-bottom: 1em;
    float: left;
    overflow: hidden;
  }
  .liga {
    width: 80%;
    width: calc(100% - 2.5em);
  }
  .talign-right {
    text-align: right;
  }
  .talign-center {
    text-align: center;
  }
  .bgc1 {
    background: #f1f1f1;
  }
  .fgc1 {
    color: #999;
  }
  .fgc0 {
    color: #000;
  }
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .mvm {
    margin-top: .75em;
    margin-bottom: .75em;
  }
  .mtn {
    margin-top: 0;
  }
  .mtl, .mal {
    margin-top: 1.5em;
  }
  .mbl, .mal {
    margin-bottom: 1.5em;
  }
  .mal, .mhl {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  .mhmm {
    margin-left: 1em;
    margin-right: 1em;
  }
  .mls {
    margin-left: .25em;
  }
  .ptl {
    padding-top: 1.5em;
  }
  .pbs, .pvs {
    padding-bottom: .25em;
  }
  .pvs, .pts {
    padding-top: .25em;
  }
  .unit {
    float: left;
  }
  .unitRight {
    float: right;
  }
  .size1of2 {
    width: 50%;
  }
  .size1of1 {
    width: 100%;
  }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .hidden-true {
    display: none;
  }
  .textbox0 {
    width: 3em;
    background: #f1f1f1;
    padding: .25em .5em;
    line-height: 1.5;
    height: 1.5em;
  }
  #testDrive {
    display: block;
    padding-top: 24px;
    line-height: 1.5;
  }
  .fs0 {
    font-size: 16px;
  }
  .fs1 {
    font-size: 20px;
  }
}

.testgrid{
    .col-group div{
        background: @color-blue;
        height:20px;
        border:solid 3px #fff;
        box-sizing: border-box;
    }
}